:root {
    font-size: 28px;
    background-color: darkgrey;
}
body {
    margin: 0 auto;
    width: 750px;
    font-family: sans-serif;
    background-color: white;
}

.header {
    background-color: #2d7053;
    width: 100%;
    padding: 1.5rem 44px 1.5rem 38px;
    box-sizing: border-box;
    

}
.header img {
    display: inline-block;
    width: 141px;
    margin: 0;
    vertical-align: middle;
  
}
.header > div {
    white-space: pre-line;
    display: inline-block;
    width: auto;
    margin-left: 58px;
    color: black;
    font-size: 1.2rem;
    vertical-align: middle;
  
}
.header a {
    /*display: block;*/  
    float: right;
    margin: 42px 0; 

}
.header a div {
    background-color: white;
    display: block;
    width: 84px;
    height: 12px;
    margin-bottom: 14px;
    border-radius: 10px;

}
.header a div:nth-child(3) {
    margin-bottom: 0px;
}
.container {
    text-align: center;
    position: relative;
}
.bg img {
    width: 100%;   
}
.container .btn a{
    width: 341px;
    display: block;
    background-color: #cb9223;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .75rem;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    color: white;
    position: absolute;
    top: 74%;
    left: 28%;
}
.content {
    width: 100%;
    background-color: white;
    padding-top: 73px;
    padding-left: 44px;
    box-sizing: border-box;
}
.content img {
    width: 247px;
    border-radius: 200px;
    display: inline-block;
    vertical-align: middle;
}
.name {
    display: inline-block;
    width: 285px;
    vertical-align: middle;
    margin-left: 75px;
}
.name div:nth-child(1) {
    margin-bottom: 29px;
    font-size: 1.4rem;
}
.name div:nth-child(2) {
    font-size: .8rem;
}
.description {
    margin-top: 60px;
    width: 590px;
    font-size: .75rem;
    
}
.section {
    text-align: center;
    width: 100%;
}
.title {
    text-align: left;
    padding-left: 44px;
    padding-top: 46px;
    font-size: 1.3rem;
}
.section .list {
    list-style: none;
    text-align: left;
}
.list-item {
    font-size: .8rem;
}
.section .btn a {
    width: 341px;
    display: inline-block;
    background-color: #cb9223;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .75rem;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    color: white;
    margin-top: 16px;
    margin-bottom: 50px;
}
.footer {
    background-color: #888888;
    width: 100%;
    padding-right: 44px;
    padding-bottom: 28px;
    box-sizing: border-box;

}
.footer img {
    width: 96px;
    display: inline-block;
    margin-top: 29px;
    margin-left: 45px;
    vertical-align: middle;
    
}
.footer div {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    margin-left: 79px;
    color: white;
}
.footer div div:nth-child(1) {
    display: block;
    margin-top: 58px;
    font-size: .6rem;
    text-align: right;
}
.footer span {
    display: inline-block;
    font-size: .6rem;
}
.footer span:nth-child(1) {
    margin-right: 38px;
}
