:root{
    font-size: 16px;
}
body{
    max-width: 86.5%;
    background: none; 
    margin: 0 auto;  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header a img{
    margin-top: 61px;
}
.navigation{
    background-color: #35444f;
    margin-top: 45px;
    text-align: center;

}
.navigation a{
    display: inline-block;
    padding: 26px 41px;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3rem;
}
.navigation a:hover{
    background-color: #222f3a;
    border: 1px solid white;
    padding: 25px 40px;
    cursor: pointer;
}
.menu{
    list-style: none;
    border: 1px solid #35444f;
    display: inline-block;
    width: 27%;
    padding: 0;
    margin-top: 51px;

}
.menu-items a{
    display: block;
    text-decoration: none;
    color: #485863;
    font-size: 1.5rem;
    padding-left: 44px;
    padding-top: 28px;
    padding-bottom: 28px;
    transition: all .7s;
    line-height: 1;
}
.menu-items a:hover{
    padding-left: 69px;
    background-color: #dbdbdb;
    color: black;
    cursor: pointer;
}
div:nth-child(3) {
    width: 69%;
    float: right;
    text-align: center;
    border: 1px solid #35444f;
    margin-top: 51px;
}
div > img{
    padding-top: 75px;
    padding-bottom: 75px;
    width: 320px;
}
.container{
    margin-left: 34%;
    margin-right: 40px;
    margin-top: 155px;
    font-size: 1rem;
    font-weight: 500;
}
.container p:last-child{
    margin-top: 25px;
    margin-bottom: 0;
}
/* решил попробовать сверстать этот блок с 
помощью свойства float, чтобы попрактиковаться. */
.footer{
    background-color: #b4b7ba;
    overflow: auto;
    padding: 0 28px;
    margin-top: 51px;
    margin-bottom: 30px;
}
.footer a{
    display: block;
    float: left;
    margin: 1.2rem 1rem;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
.footer a:hover{
    cursor: pointer;
    padding-bottom: 3px;
    border-bottom: 1px solid #3181a6;
    color: #3181a6;
    transition: all .2s;
    margin-bottom: 12px;
}
.footer span{
    display: block;
    float: right;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 1.4rem;
}