:root {
    font-size: 12px;
}
body {
    margin: 0;
    padding: 0;
    background-color: #ECECEC;
    --font: 'Montserrat', sans-serif;
    font-family: var(--font);
}
header {
    background-color: white;
    width: 100%;
    height: 100px;
}
main {
    overflow: auto;
    width: 70%;
    margin: 0 auto;
    min-width: 1000px;
    padding: 70px 0;
}
.aside {
    float: left;
    position: relative;
    width: 27%;
    background-color: white;
    border-radius: 10px;
    margin-right: 2.4%;
    height: 88.5vh;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px #999999;
}
.aside__change {
    float: right;
    font-family: var(--font);
    background-color: transparent;
    border: 1px solid #A0A0A0;
    border-radius: 5px;
    padding: 7px;
    color: #A0A0A0;
    cursor: pointer;
    transition: all .1s;
}
.aside__change:active {
    background-color: #323232;
    color: white;
}
.aside__info {
    padding: 60px 0;
    font-size: 1.16rem;
}
.aside__row {
    margin: 20px 16px;
}
.aside__parameter {
    margin-bottom: 8px;
}
.aside__value {
    color: #A0A0A0;
}
.aside__button {
    display: block;
    position: absolute;
    width: 90%;
    bottom: 90px;
    left: 5%;
    padding: 16px 0px;
    background-color: #04BE00;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 10px;
    text-align: center;
    color: white;
    box-shadow: 0 2px 5px #A0A0A0;
    transition: all .1s;
}
.aside__button:active {
    background-color: #323232;
}
.aside__button_exit {
    margin-top: 20px;
    background-color: #DF0D00;
    vertical-align: bottom;
    bottom: 20px;
}
.container {
    float: left;
    width: 70.6%;
}
.header {
    padding: 28px;
    background-color: white;
    border-radius: 7px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px #999999;

}
.header__title {
    font-size: 1.16rem;
    font-weight: 500;
}
.header__content {
    font-size: 3rem;
    font-weight: 800;
}
.header__content > span {
    color: #A0A0A0;
}
.header__text {
}
.orderhistory {
    background-color: #F3F3F3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 10px 26px 10px;
    box-shadow: 0 2px 4px #999999;
}
.orderhistory__title {
    
    background-color: white;
    box-shadow: 0 0px 4px #999999;
    border-radius: 10px;
}
.orderhistory__title > div {
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 800;
}
table {
    background-color: #F3F3F3;
    border-collapse: collapse;
    text-align: center;
    border-radius: 10px;
}
.orderhistory table {
    border-collapse: separate;
    border-spacing: 0 15px;
}
td {
    width: 14.28%;
    padding: 12px 0;
    background-color: white;
}
td span {
    display: block;
}
.orderhistory td:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.orderhistory td:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.orderhistory tr {
    box-shadow: 0 2px 4px #999999;
    border-radius: 20px;
}
.orderhistory__ttl {
    color: #757575;
    background-color: #EAEAEA;
    border-radius: 20px;
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 5px;
    margin-top: 35px;
    margin-left: 20px;
    box-shadow: 0 2px 4px #999999;
}
.ttl-type1 {
    margin-top: 5px;
}
.orderhistory__status_delivered {
    font-weight: 800;
    color: #69A042;
}
.orderhistory__status_delivered::before {
    content: " ";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 1px;
    background-color: #69A042;
    vertical-align: middle;
}
.orderhistory__status_processed {
    font-weight: 800;
    color: #F58020;
}
.orderhistory__status_processed::before {
    content: " ";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 1px;
    background-color: #F58020;
    vertical-align: middle;
}
footer {
    width: 100%;
    background: linear-gradient(to right, #323232, #000000)
}
.footer {
    width: 70%;
    margin: 0 auto;
    overflow: auto;
}
ul.menu {
    float: left;
    list-style: none;
    padding: 0;
    margin: 40px 0;
}
li {
    display: inline-block;

}
ul.menu > li:nth-child(2) {
    padding: 0 20px;
}
ul.menu > li > a {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
}
ul.menu > li > a:hover {
    color: lightslategrey;
}
ul.menu > li > a:active {
    color: white;
}
ul.social {
    float: right;
    list-style: none;
    padding: 0;
    margin: 30px 0;
} 
ul.social > li:nth-child(2) {
    padding: 0 12px;
}
ul.social > li > a {    
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(../img/css_sprite_social.jfif);
}
ul.social > li:first-child > a {
    background-position: -115px 153px;
}
ul.social > li:nth-child(2) > a {
    background-position: -226px 153px;
}
ul.social > li:last-child > a {
    background-position: -58px 153px;
}
