html {
    font-size: 18px;
    max-width: 1366px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    margin: 0;
    background-image: url(../img/background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    backdrop-filter: brightness(30%);
}
header {
    width: 78%;
    min-width: 590px;
    margin: 0 auto;
    overflow: auto;
    padding-top: 2.3rem;
}
header > .logo {
    float: left;
    background-image: url(../img/logo_white.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 166px;
    height: 2.44rem;
    overflow: hidden;
}
header > .logo > a {
    display: none;
}
header > .logo:hover {
    background: none;
}
header > .logo:hover > a {
    display: block;
}
header > .contacts {
    float: right;
    font-size: .9rem;
}
header > .contacts a {
    text-decoration: none;
    color: white;
}
.row {
    width: 78%;
    min-width: 590px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 3.2rem;
    margin-top: 2.2rem;
}
.column {
    float: left;
    width: 28.8%;
    text-align: center;
}
.column > a {
    display: block;
    cursor: default;
}
.column:nth-child(2) {
    margin: 0 6.73%;
}
.column .img {
    background-image: url(../img/img4.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 16vw;
    max-height: 200px;
    min-height: 140px;
    min-width: 200px;
    position: relative;
}
.row:nth-child(1) .column:nth-child(1) .img {
    background-image: url(../img/img1.png);
}
.row:nth-child(1) .column:nth-child(2) .img {
    background-image: url(../img/img2.png);
}
.row:nth-child(1) .column:nth-child(3) .img {
    background-image: url(../img/img3.png);
}
.row:nth-child(2) .column:nth-child(2) .img {
    background-image: url(../img/img5.png);
}
.row:nth-child(2) .column:nth-child(3) .img {
    background-image: url(../img/img6.png);
}
.column > a > .img > .details {
    width: 100%;
    min-width: 200px;
    height: 0;
    background-color: #f26522;
    padding: 0 1rem;
    box-sizing: border-box;
    color: white;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    transition: all .3s;
}
.column > a:hover > .img > .details {
    height: 3.4rem;
}
.details > .price {
    float: left;
    padding: .8rem 0;
    text-align: left;   
}
.details > .price > span:nth-child(1) {
    display: block;
    font-size: .5rem;
}
.details > .view-details {
    float: right;
    padding: 1.6rem 0;
    font-size: .8rem;
    cursor: pointer;
}
.details > .view-details::after {
    content: "	\203A";
    padding-left: .3rem;
}
.column > .title > a {
    color: white;
    text-decoration: none;
    display: block;
    padding-top: .7rem;
}
.title > a:hover {
    color: #f26522;
}
footer {
    text-align: center;
    padding-bottom: 2rem;
}
footer > .copyright {
    color: white;
    font-size: .7rem;
    font-weight: lighter;
}