:root {
--font-oswald: 'Oswald', sans-serif;
--font-open-sans: 'Open+Sans', sans-serif;
font-size: 18px;
max-width: 1920px;
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 1920px;
    /*min-width: 1680px; */
    font-family: var(--font-oswald);
    
}
.header {
    width: 100%;  
}
.header__container {
    width: 100%;
    background-image: url(/img/header/background.png);
    background-position: center;
    background-size: 100% 100%;
    height: 740px;
    
}
.header__logo {
    width: 60px;
    margin-left: 21%;
    margin-top: 20px;
    display: inline-block;
}
.header__hamburger {
    position: relative;
    display: inline-block;
    width: 50px;
    left: 52.8%;
    top: 0px;
    background-color: #F7654A;
    text-decoration: none;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    
}
/* вариант с position:absolute. Проблема в том, что я не могу его ограничить, чтобы при расширении  более чем 1920 пикселей он остался на месте.
    .header__hamburger {   
    position: absolute;
    width: 50px;
    right: 21%;
    top: 30px;
    background-color: #F7654A;
    display: block;
    text-decoration: none;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px; 
} */
.header__hamburger-line {
    background-color: white;
    width: 21px;
    height: 3px;
    margin: 3px auto;
}
.header__title {
    margin-top: 112px;
    width: 100%;
    font-weight: 500;
    font-size: 3.55rem;
    line-height: 5.3rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    white-space: pre-line;
    color: white;
    margin-bottom: 30px;
}
.header__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.proof {
    position: absolute;
    left: 21%;
    top: 589px;
    width: 58%;
    /* min-width: 750px; */
    margin: 0 auto;
    background-color: #F7F7F7;
    height: 300px;
    max-width: 1110px;
}
.proof__container {
    list-style: none;
    text-align: center;
    margin: 0 auto;
    padding-top: 40px;
    padding-left: 0px;
    
}
.proof__item {
    display: inline-block;
    margin: 0 7%;
}
.proof__number {
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    text-align: center;
    text-transform: uppercase;
    color: #F7654A;
}
.proof__title {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: black;
}
.proof__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #999999;
}
.case {
    width: 100%;
    text-align: center;
}
.case__header {
    margin-top: 250px;
    margin-bottom: 55px;
    color: #404149;

}
.title {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;

}
.case__column {
    display: inline-block;
    width: 18.2%;
    min-width: 245px;
    margin: 0 0.78%;
    text-align: left;
}
/* .case__icon {
} */
.case__icon > img {
   width: 100%;
   height: 100%;
   min-width: 265px;
   object-fit: contain;

}
.case__line {
    width: 55px;
    height: 6px;
    background-color: #F7654A;
    margin-top: 45px;

}
.case__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #404149;
    margin-bottom: 15px;
    margin-top: 20px;
}
.case__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
    font-family: var(--font-open-sans);
}
.first-form {
    width: 100%;
    background-color: #F7654A;
    margin-top: 120px;
}
.form {
    width: 57.8%;
    min-width: 900px;
    margin: 0 auto;
    overflow: auto;
    
}
.form__text {
    float: left;
    margin-top: 40px;
}
.form__title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: white;
}
.form__subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: white;
}
.form__button {
    float: right;
}
.form__button > a {
    display: inline-block;
    text-decoration: none;
    margin-top: 73px;
    margin-bottom: 59px;
    padding: 15px 30px;
    background-color: #FFFFFF;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: black;
    vertical-align: middle;
}
.form__button > a::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 18px;
    background-size: 100%;
    background-image: url(/img/form/before_button.png);
    margin-right: 10px;
    vertical-align: middle;
}
.about {
    width: 100%;
    text-align: center;
}
.about__header {
    margin-top: 120px;
    margin-bottom: 36px;
}
/* .about__body {
}
.about__string {
} */
.about__unit {
    display: inline-block;
    width: 18.2%;
    height: 250px;
    margin: 0.78%;
    min-width: 245px;
    background-color: #F7F7F7;
}
.about__unit > img {
    margin-top: 59px;
}
.about__unit > p {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    width: 200px;
    margin: 24px auto 59px;
}
.pictureblock {
    width: 100%;
    text-align: center;
    margin-top: 135px;
}
.pictureblock__row {
    line-height: 0; /* это - первый способ, как можно убрать лишние несколько пикселей у div, в который встроен другой тег*/
}
.pictureblock__row img {
    display: inline-block;
    /* vertical-align: bottom; */ /*это - второй способ*/
    width: 25%;
}
.faq {
    width: 57.8%;
    margin: 0 auto;
    padding: 150px 0;
    text-align: center;
}
.faq__header {
    margin-bottom: 60px;
} 
/* .faq__body {
} */
.faq__hide {
    display: none;
}
.faq__hide + label {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #F7654A;
    text-transform: uppercase;
    text-align: left;
    margin: 30px 0 20px;
    cursor: pointer;
}
.faq__unit {
    display: none;
}
.faq__hide:checked + label + .faq__unit {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
    width: 66%;
    text-align: left;
    animation: fade ease-in 0.2s; 
}
@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }   
}
.partners {
    background-color: #404149;
    width: 100%;
    padding: 100px 0;

}
.partners__header {
    color: white;
    margin-bottom: 50px;
}
.partners__row {
    width: 57.8%;
    margin: 0 auto;
    text-align: center;
}
.partners__item {
    width: 15.3%;
    display: inline-block;
    margin: 0 2.7%;
}
.partners__item_first {
    margin-left: 0;
}
.partners__item_last {
    margin-right: 0;
}
.partners__item > img {
    width: 100%;
    object-fit: contain;
}
.review {
    width: 100%;
    text-align: center;
    padding: 150px 0;
}
.review__header {
    margin-bottom: 60px;
}
/* .review__row {
} */
.review__column {
    display: inline-block;
    width: 18.2%;
    margin: 0 0.78%;
    text-align: left;
}
.review__wrapper {
    background-color: #F7F7F7;
    padding: 30px;

}
.review__wrapper > img {
    display: block;
    margin-bottom: 15px;
}
.review__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #999999;
    font-family: var(--font-open-sans);

}
.review__sign {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    letter-spacing: 0.02em;
    margin-top: 30px;
}
.review__sign > span {
    color: #F7654A;
}
.second-form {
    width: 100%;
    background-color: #F7654A;
}
.footer {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 172px;
}
/* .footer__header {
} */
.footer__row {
    padding: 60px 0;
    text-align: center;
}
.footer__column {
    display: inline-block;
    vertical-align: text-top;
    width: 13.28%;
    margin: 0 0.78%;
}
.footer__image {
    width: 49px;
    height: 49px;
    margin: 0 auto;
}
.footer__image > img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.footer__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #999999;
    text-transform: uppercase;
    margin: 15px 0;
}
.footer__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    white-space: pre-line;
    text-transform: uppercase;
}
.footer__subtitle_orange {
    color: #F7654A;
}
.footerline {
    background-color: #404149;
    width: 100%;
}
.footerline__text {
    width: 57.8%;
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    font-family: var(--font-open-sans);
    color: white;
    padding: 30px 0;

}
.footerline__text > span:first-child {
    display: inline-block;
    width: 50%;
    text-align: left;
}
.footerline__text > span:last-child {
    display: inline-block;
    width: 50%;
    text-align: right;
}
.footer__subtitle > a {
    text-decoration: none;
    color: #000000;
}