:root{
    font-size: 20px;
    background-color: white;
    --font-arimo: 'Arimo', sans-serif;
}
body{
    max-width: 1192px;
    background-color: #3a4965;
    padding: 24px 0 32px 0;
}
table{
    width: 95.6%;
    margin-left: 22px;
    border-collapse: collapse;
}
td{
    border-left: 2px solid #d9d9d9;
    text-align: center;
    font-size: .8rem;
    text-transform: uppercase;
    font-family: var(--font-arimo);
    color: #484848;
}
td:not(tr:nth-child(1) > td, tr:nth-child(2) > td){
    padding: 1.4rem 0;
}
tr:nth-child(2) > td{
    padding: .3rem;
}
tr:nth-child(1) > td{
    padding: 0;
}
tr:nth-child(1), tr:nth-child(2){
    background-color: #fafafa;
}
tr:nth-child(3), tr:nth-child(5), tr:nth-child(7){
    background-color: #f2f2f2;
}
tr:nth-child(4), tr:nth-child(6), tr:nth-child(8){
    background-color: #e3e3e3;
}
tr:nth-child(1), tr:nth-child(2){
    background-color: #fafafa;
}
tr:nth-child(1) > td:nth-of-type(2){
    background-color: #89c331;
    font-weight: bolder;
}
tr:nth-child(1) > td:nth-of-type(3){
    background-color: #f04a56;
    font-weight: bolder;
}
tr:nth-child(1) > td:nth-of-type(4){
    background-color: #20807c;
    font-weight: bolder;
}
tr:nth-child(9) > td:nth-child(even){
    background-color: #eeeeee;
}
tr:nth-child(9) > td:nth-child(1){
    background-color: #dddddd;
}
tr:nth-child(9) > td:nth-child(3){
    background-color: #f4f4f4;
}
tr:nth-child(9) > td div{
    margin: 0 auto;
    padding-top: .8rem;
    padding-bottom: .4rem;
    color: white;
    border-radius: 7px;
    box-sizing: border-box;
}
tr:nth-child(9) > td > a{
    text-decoration: none;
    display: block;
    max-width: 192px;
    margin: auto;
}
tr:nth-child(9) > td:nth-child(1) div{
    background-color: #484848;
    border-bottom: 8px solid #404040; 
}
div:hover{
    transition: all .3s;
}
tr:nth-child(9) > td:nth-child(1) div:hover{
    background-color: white;
    border-bottom: 8px solid whitesmoke;
    color: #484848; 
    font-weight: bolder;
}
tr:nth-child(9) > td:nth-child(2) div{
    background-color: #89c331;
    border-bottom: 8px solid #79b027; 
}
tr:nth-child(9) > td:nth-child(2) div:hover{
    background-color: white;
    border-bottom: 8px solid whitesmoke; 
    color: #89c331;
    font-weight: bolder;
}
tr:nth-child(9) > td:nth-child(3) div{
    background-color: #f04a56;
    border-bottom: 8px solid #df3a46; 
}
tr:nth-child(9) > td:nth-child(3) div:hover{
    background-color: white;
    border-bottom: 8px solid whitesmoke; 
    color: #f04a56;
    font-weight: bolder;
}
tr:nth-child(9) > td:nth-child(4) div{
    background-color: #20807c;
    border-bottom: 8px solid #16736f; 
}
tr:nth-child(9) > td:nth-child(4) div:hover{
    background-color: white;
    border-bottom: 8px solid whitesmoke;
    color: #20807c; 
    font-weight: bolder;
}
td:first-child{
    width: 310px;
}
td[rowspan="2"] > p:nth-of-type(1) {
    font-weight: bolder;
    margin-bottom: 0;
    margin-top: 30px;
}
td[rowspan="2"] > p:nth-of-type(2) {
    font-weight: bolder;
    font-size: 1.5rem;
    margin-top: 2px;
}
td:not(td:first-child){
    width: 24%; 
}
td#price1{
    width: 24%;
}
tr:first-child > td:nth-child(even){
    color: white;
    font-size: 1.1rem;
    padding: .8rem 0;
    border: none;
}
tr:first-child > td:nth-child(3){
    color: white;
    padding: 0;
    font-size: 1.5rem;
    border: none;
}
tr:nth-child(8) > td:first-child:not(td[rowspan="2"], td#price1, tr:last-child > td:first-child)::before{
    content: '';
    display: inline-block;
    margin-right: 13px;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    background-image: url(/img/@1X.png);
    left: 125px;
    top: 565px;
}
tr:nth-child(5) > td:first-child:not(td[rowspan="2"], td#price1, tr:last-child > td:first-child)::before{
    content: '';
    display: inline-block;
    margin-right: 13px;
    vertical-align: middle;
    width: 24px;
    height: 20px;
    background-image: url(/img/@1X.png);
    left: 126px;
    top: 346px;
}
tr:nth-child(4) > td:first-child:not(td[rowspan="2"], td#price1, tr:last-child > td:first-child)::before{
    content: '';
    /*display: block;
    position: absolute;*/
    display: inline-block;
    margin-right: 13px;
    margin-bottom: 2px;
    vertical-align: bottom;
    width: 26px;
    height: 19px;
    background-image: url(/img/@1X.png);
    /*left: 102px;
    top: 273px;*/
    /*сначала решил отоборазить картинки при помощи position, но потом 
    подумал, что с before проще использовать inline-block. Верно? */
}
tr:nth-child(3) > td:first-child:not(td[rowspan="2"], td#price1, tr:last-child > td:first-child)::before{
    content: '';
    display: inline-block;
    margin-right: 13px;
    vertical-align: middle;
    width: 23px;
    height: 21px;
    background-image: url(/img/@1X.png);
    left: 114px;
    top: 195px;
}
tr:nth-child(7) > td:first-child:not(td[rowspan="2"], td#price1, tr:last-child > td:first-child)::before{
    content: '';
    display: inline-block;
    margin-right: 13px;
    vertical-align: middle;
    width: 23px;
    height: 23px;
    background-image: url(/img/@1X.png);
    left: 110px;
    top: 493px;
}
tr:nth-child(6) > td:first-child:not(td[rowspan="2"], td#price1, tr:last-child > td:first-child)::before{
    content: '';
    display: inline-block;
    margin-right: 13px;
    vertical-align: middle;
    width: 23px;
    height: 23px;
    background-image: url(/img/@1X.png);
    left: 115px;
    top: 417px;
}
#price1 > div:first-child{
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    vertical-align: top;
    
}
#price1 > div:last-child{
    display: inline-block;
    text-align: left;
    white-space: pre-line;
    margin: 9px 0;
    vertical-align: top;

}
#price1 > div:last-child > span{
    font-size: 1.1rem;
    font-weight: bold;
}
#price2 > div:first-child{
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    vertical-align: top;
    
}
#price2 > div:last-child{
    display: inline-block;
    text-align: left;
    white-space: pre-line;
    margin: 9px 0;
    vertical-align: top;

}
#price2 > div:last-child > span{
    font-size: 1.1rem;
    font-weight: bold;
}
#price3 > div:first-child{
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    vertical-align: top;
    
}
#price3 > div:last-child{
    display: inline-block;
    text-align: left;
    white-space: pre-line;
    margin: 9px 0;
    vertical-align: top;

}
#price3 > div:last-child > span{
    font-size: 1.1rem;
    font-weight: bold;
    
}
